<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- app.component.html -->

<!-- Root template -->
<app-header [profile]="profile?.profile"></app-header>
<app-about [about]="profile?.about"></app-about>
<app-skills [skills]="profile?.skills"></app-skills>
<app-portfolio [portfolio]="profile?.portfolio"></app-portfolio>
<app-experience [experience]="profile?.experience"></app-experience>
<app-education [education]="profile?.education"></app-education>
<app-references [references]="profile?.references"></app-references>
<app-contact [contact]="profile?.contact"></app-contact>
<app-footer></app-footer>


